{% extends 'bracketify/_base.html' %}
<html>
<title>Play</title>
{% block content %}
<h1>Ranking {{ album.name }} by {{artist_name}}</h1>
<br>
<br>
Todo
<!--<div align="center">-->
<!--	<p>Which song do you like more?</p>-->
<!--	<form method="post">-->
<!--		{% csrf_token %}-->
<!--		&lt;!&ndash; Render the user_choice field &ndash;&gt;-->
<!--        {{ form.user_choice.label_tag }}-->
<!--        <br>-->
<!--        {% for radio in form.user_choice %}-->
<!--            {{ radio.tag }} {{ radio.choice_label }}-->
<!--            <br>-->
<!--        {% endfor %}-->
<!--        <br>-->
<!--        <input type="submit" value="Submit">-->
<!--	</form>-->
</div>
{% endblock %}
</html>
