{% extends 'bracketify/_base.html' %}
<html>
<title>Play</title>
{% block content %}
<h1>{{ album.name }} by {{artist_name}}</h1>
<div div align="center">Like these songs? Click Play to sort the album and share your results!
	<br><br>
	<a href="{% url 'bracketify:bracket_sort' album.id %}">
		<button class="button1">Play</button>
	</a>
</div>
<br>
<div align="center">
	<h2> Tracklist </h2>
	<table style="width:50%">
		{% for track in tracklist %}
		<tr>
			<td>{{ track.name }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
</html>
