{% extends 'bracketify/_base.html' %}

<html >
<style >
    body {
        text-align: center;
        align: center;
    }
    h1 {
        margin-top: 2rem; /* Add some top margin to the heading */
        text-align: center; /* Center align the heading */
    }
    p {
        margin-top: 1rem; /* Add top margin to the paragraph */
    }

</style >
<head >
	<title >Search</title >
</head >
{% block content %}
<h1 >Search for an Artist</h1 >
<body >
<br >
<div align="center" >
	<br ><br >
	<form method="post" >
		{% csrf_token %}
		<input type="text" id="artist_name" name="artist_name" required >
		<button class="button2" >Search</button >
	</form >
</form>
</div >
</body >
{% endblock %}
</html >
