{% extends 'bracketify/base.html' %}

<html>
<style>
    body {
        text-align: center;
        align: center;
    }
    h1 {
        margin-top: 2rem; /* Add some top margin to the heading */
        text-align: center; /* Center align the heading */
    }
    p {
        margin-top: 1rem; /* Add top margin to the paragraph */
    }


</style>
<head>
	<title>Search Artist</title>
</head>
{% block content %}
<body>

<h1>Search for an Artist</h1>
<br>
<div align="center">
	Enter an artist of your choice and click Search:
	<br><br>
	<form method="post">
		{% csrf_token %}
		<input type="text" id="artist_name" name="artist_name" required>
		<button class="button2">Search</button>
	</form>
</div>
</body>
{% endblock %}
</html>
