{% load static %}
<link rel="stylesheet" href="{% static 'bracketify/style.css' %}">
<link rel="icon" type="image/png" href="{% static 'bracketify/images/icon.png' %}">

<!DOCTYPE html>
<html>
<head>
    <title>Top Songs</title>
</head>
<body>
<h1>Top Songs for {{ artist_name }}</h1>
<ul>
    {% for song in top_songs %}
    <li>{{ song.name }}</li>
    {% endfor %}
</ul>
<h2>
    Other artists you may like
</h2>
<ul>
    {% for artist in related_artists %}
    <li>{{artist}}</li>
{% endfor %}
    </ul>
</body>
</html>
