a:link {
    text-decoration: none;
    color: #f35b04;
}

a:visited {
    text-decoration: none;
    color: #7678ed;
}

a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem; /* Add some top margin to the heading */
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem; /* Add some top margin to the heading */
}

p {
    margin-top: 1rem; /* Add top margin to the paragraph */
    font-size: 1.3rem;
}

body {
    min-width: 100%;
    max-width: 100%;
    font: 1.4rem "Fira Sans", sans-serif;
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
}

table {
  border: 1px solid black;
  font-size: 1.3rem;
}

.links a {
  display: inline-block;
}

input {
  border: 2px solid black;
  border-radius: 3px;
  background-color: transparent;
  height: 2.5rem;
  width: 25%;
}

.button1 {
  border-radius: 8px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button2 {
  border-radius: 8px;
  border: 1.5px solid black;
  background-color: transparent;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1:hover, .button2:hover {
  background-color: black;
  color: white;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  height: 2.2rem;
  background-color: transparent;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  font: 0.8em "Fira Sans", sans-serif;
}

.form-control + .form-control {
  margin-top: 1em;
}

.handle {
    display: inline-block;
    border-top: 3px solid var(--dark);
    width: 30px;
    padding-top: 5px;
    cursor: grab;
}
.handle:after, .handle:before {
    display: block;
    content: "";
    padding-top: 5px;
    border-top: 3px solid var(--dark);
}
.handle:hover, .handle:hover:before, .handle:hover:after {
    border-color: var(--primary);
}
.handle:active, .handle:active:before, .handle:active:after {
    cursor: grabbing;
}


/* If the screen size is 600px wide or less*/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}


