li a {
    color: black;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem; /* Add some top margin to the heading */
}

p {
    margin-top: 1rem; /* Add top margin to the paragraph */
    font-size: 1.25rem;
}

body {
    font: 1.2em "Fira Sans", sans-serif;
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
}

table {
  border: 1px solid black;
}

.links a {
  display: inline-block;
}

input {
  border: 2px solid black;
  border-radius: 3px;
  background-color: transparent;
  height: 2.5rem;
  width: 25%;
}

.button1 {
  border-radius: 8px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  border-radius: 8px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2:hover {
  background-color: black;
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.2rem;
  background-color: transparent;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font: 0.8em "Fira Sans", sans-serif;
}

.form-control + .form-control {
  margin-top: 1em;
}

/* If the screen size is 600px wide or less*/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
  }
}
